html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(23, 28, 43);

  /* Allow scrolling */
  overflow: auto;

  /* Hide scrollbars in IE/Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Hide scrollbars in Chrome, Safari, and other WebKit browsers */
body::-webkit-scrollbar {
  display: none;
}
